
*{
    padding: 0;
    margin: 0;
}
.backbtn button{
	margin: 10px 0 0 10px;
	height: 35px;
	width: 35px;
	border: none;
	font-size: 20px;
	opacity: .5;
}
.backbtn button:hover{
	border-radius: 50%;
	background-color: rgb(150, 150, 150);
	opacity: 1;
}
.fnav{
    display: flex;
    justify-content: space-between;
    margin: -35px 45px 0 45px;
    font-family: sans-serif;
    background-color: transparent;
}
.fnav img{
    height: 35px;
    width: 160px;
}
.fnav input{
    padding-left: 15px;
    padding-right: 200px;
    border-radius: 10px;
}
.fnav p{
    padding-top: 9px;
}
.fnav a{
    text-decoration: none;
    color: black;
}
.fnav a:hover{
    text-decoration: underline;
    color: dimgray;
}
.fnav .track{
    text-decoration: underline;
    color: dimgray;
    border: 2px solid;
    border-radius: 25px;
    padding: 7px 10px 0 10px;
}
.snav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.snav ul{
    list-style: none;
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 0px;
}
.snav ul li{
    display: inline;
    padding-right: 20px;
}
.snav img{
    border: 2px solid white;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    margin-left: -100px;
}
.VV{
	display: flex;
	height: 110px;
	width: 130px;
	margin-left: 725px;
	margin-top: 70px;
}
.aa{
	text-align: center;
	margin-left: -1280px;
}
.aa p{
	font-size: 45px;
	margin-top: 40px;
	margin-bottom: 15px;
}
.aa p1{
	font-size: 20px;
}
.locate{
	border-radius: 30px;
	padding: 15px;
	margin-top: 10px;
	font-size: 20px;
}
.aa .locate a{
    text-decoration: none;
    color: black;
}
.mapouter{
    margin: 250px;
    position: relative;
    text-align: center;
    width:1000px;
    height:500px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:1000px;
    height:500px;
}
.gmap_iframe {
    width:1000px!important;
    height:500px!important;
}
